.carsection{
    width: 90%;
    margin: auto;
    background: $lightest;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;

    .rentcars {
        display: flex;
        margin: auto;
        width: 100%;
        a{
            width: 100%;
            display: flex;
            justify-content: center;
            text-decoration: none;
        }
    }

    button{
        margin: auto;
        padding: 20px;
        align-items: center;
        width: 50%;
    }
    .carsbar {
        width: 100%;
        border-radius: 10px 10px 0 0;
        background: $lightest;

        .bar {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: $white;
            padding: 20px 0;


            svg {
                font-size: 1.5em;
            }
        }
    }
    .carscontent{
        background: $white;
    }
}