.loader {
  margin: auto;
  margin-top: 50px;
    width: 64px;
    height: 64px;
    position: relative;
    background-image:
      linear-gradient(#ff00ee 16px, transparent 0) ,
      linear-gradient(#6a00ff 16px, transparent 0) ,
      linear-gradient(#006aff 16px, transparent 0) ,
      linear-gradient(#00c8ff 16px, transparent 0);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left top , left bottom , right top , right bottom;
    animation: rotates 1s linear infinite;
  }
  @keyframes rotates {
    0% {
      width: 64px;
      height: 64px;
      transform: rotate(0deg)
    }
    50% {
      width: 30px;
      height: 30px;
      transform: rotate(180deg)
    }
    100% {
      width: 64px;
      height: 64px;
      transform: rotate(360deg)
    }
  }