.teamcard {
    position: relative;
    height: 550px;
    width: 440px;
    overflow: hidden;
    float: left;
    margin: 15px;

    img {
      background-size: cover;
      background-repeat: no-repeat;
        }

    &__content {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #000;
      top: calc(100% - 80px);
      left: 0;
      opacity: 1;
      transition: all 0.75s ease-in-out;
      
      display: flex;
      align-items: top;
      justify-content: center;

      .fullname {
        margin-top: 125px;
        padding: 65px 0;
    }
      
      &-inner {
        position: relative;
        display: block;
        height: 80px;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        justify-content: center;
        transition: all 0.75s ease-in-out;
      }

      &:after {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 30px;
        height: 30px;
        border-color: #fff;
        border-style: solid;
        border-width: 2px 0 0 2px;
        content: "";
      }
    }
    &__title {
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 1px;
    }
    &__description {
      color: #eee;

      p {
        padding-bottom: 10px;
      }

      .socials {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 30px;
        gap: 20px;
        svg{
            font-size: 2em;
            color: $white;
            transition: .5s ease;
            &:hover {
                scale: 1.5;
                color: $purple;
            }
        }
        
      }
    }
    &:after {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      border-color: #fff;
      border-style: solid;
      border-width: 0 2px 2px 0;
      content: "";
    }
    &.a100,
    &:hover {
      .teamcard__content {
        top: 0;
        background: #000;
        transition: all 1s ease-in-out;
        &-inner{
          height: 100%;
          align-items: center;
          justify-content: center;
          transition: all 1s ease-in-out;
        }
      }
    } // demo
    &.a50{
      .teamcard__content {
          top: 50%;
        &-inner{
          height: 50%;}
      }
      &:hover {
        .teamcard__content {
            top: 0;
          &-inner{
            height: 100%;}
        }      
      }
    }
    &.a100{
        &:hover {
        .teamcard__content {
            top: calc(100% - 80px);
          &-inner{
            height: 80px;}
        }
      }
    }
  }
  