.top { 
    height: 450px;
    display: flex;
    align-items: end;
    justify-content: center;
    margin: auto;
    .horizon-main {
        height: 100px;
        
    h1 {
        font-size: 5em;
        color: $lightest;
        text-shadow: 0px 0px 55px $lightest;
        animation: spinheader 1s infinite;
        }
    }
    p {
        color: $white;
    }

    .rent{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 15px;
        align-items: center;
        padding-top: 50px;
        button {
            margin: 35px;
        }
    }
}

    @keyframes spinheader {
    0% {
        content: "Horizon";
        }
    
        25% {
        content: "Drive";
        }
    
        50% {
        content: "Rent";
        }
    
        75% {
        content: "Enjoy";
        }
    
        100% {
        content: "Experience";
        }
    
    }

    @keyframes scrollText {
    0% {
        transform: translateY(0);
        }
    
        100% {
        transform: translateY(-100%);
        }
    }