* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url(./src/media/images/bg.jpg) no-repeat, linear-gradient(to bottom, #1b1257, #3a6186);
    background-size: fit;
    background-repeat: no-repeat;
}