.carnav {
    padding-left: 155px;
    background: black;
    position: sticky;
    top: 0;
    display: flex;
}
.carpage {
    display: flex;
    margin: auto;

    .filtersection {
        max-width: 150px;
        min-width: 150px;
        min-height: 100vh;
        background: black;
        padding-top: 100px;

        .buttons {
            padding: 20px 0 40px;
            position: sticky;
            top: 0;
            .button {
                width: 100%;
                text-align: left;
            }
        }
    }
}

.button {
    transition: all .2s ease-in-out;
    -webkit-appearance: none;
    font-family: inherit;
    appearance: none;
    background: none;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    padding: 20px;
    outline: none;
    opacity: 0.4;
    border: none;
    color: #fff;
}

.button:hover,
.button.active {
    opacity: 1;
}

.grid {
    background: url(./src/media/images/bgcity.jpg) no-repeat, linear-gradient(to bottom, #1b1257, #3a6186);
    background-position: center;
    background-size: cover;
    padding: 25px;
    min-width: 100vh;
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;

    .car {
        width: 500px;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 0px 7px 2px gray inset;

        img {
            width: 90%;
            transition: .3s;
            &:hover {
                scale: 1.2;
            }
        }
        .carname {
            width: 100%;
            height: 400px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .controls {
                margin: auto;
                
                .fifth {
                box-sizing: border-box;
                appearance: none;
                background-color: transparent;
                border: 2px solid red;
                border-radius: 0.6em;
                color: red;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 400;
                line-height: 0.3;
                margin: 20px;
                padding: 1.2em 2.8em;
                text-decoration: none;
                text-align: center;
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                    border-color: $purple;
                    // border: 0;
                    border-radius: 0;
                    color: $purple;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    transition: color 150ms ease-in-out;
                    
                    &:after {
                        content: '';
                        position: absolute;
                        display: block;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: 100%;
                        background: $purple;
                        z-index: -1;
                        transition: width 150ms ease-in-out;
                    }
                    
                    &:hover {
                        color: #fff;
                        &:after {
                        width: 110%;
                        }
                    }
                    }
            }
        }
        .description{
            background: rgba(0, 0, 0, 0.2);
            border-left: 1px solid rgba(128, 128, 128, 0.3);
            display: flex;
            padding: 10px 10px;
            flex-direction: row;
            justify-content: space-around;
        }
        .first-section, .second-section, .third-section {
            display: flex;
            gap: 5px;
            flex-direction: column;
            justify-content: space-around;
        }
        h1 {
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    .carnav {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .carpage {
        overflow: hidden;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        position: sticky;
    }
}

@media (max-width: 480px) {
    .carnav {
        padding-left: 20px;
    }
    .car {
        max-width: 410px;
    }
    .filtersection {
        display: none;
    }
    .controls {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
    }
    .grid {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
}