.page404 {
    width: 100vw;
    max-height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    gap: 20px;
    padding: 30px;

    .clearbutton {
        text-decoration: none;
    }
}