.reviewpage { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .reviews { 
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 10px;
        flex-wrap: wrap;
        align-items: center;
        color: black;
        gap: 10px;

        .review {
            width: 300px;
            min-height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 500px;
            align-items: center;
            text-align: center;
            height: 300px;
            padding: 35px;
            color: white;
            border: 1px solid rgba(255, 255, 255, .25);
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(15px);
            transition: .3s;

            &:hover {
                scale: 1.04;
            }

            svg{ 
                font-size: 1.5em;
            }

            .ctrlbuttons {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                button {
                    background: none;
                    border: none;
                    svg {
                        font-size: 2em;
                    }
                }

                .editbtn{
                    color: $lightest;
                    transition: .3s;
                    &:hover{
                        cursor: pointer;
                        scale: 1.3;
                    }
                }
                .delbtn{
                    color: $purple;
                    transition: .3s;
                    &:hover{
                        cursor: pointer;
                        scale: 1.3;
                    }
                }
            }
        }
        .card-footer {
            font-size: 0.65em;
            color: #446;
        }
        }
    }

.addreview {
    width: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 555px;
    padding: 20px;
    gap: 10px;

    form {
        width: 100%;
    }

    input {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        background: rgba(173, 216, 230, 0.3);
        outline: none;
        border: none;
        color: white;
    }

    textarea {
        width: 100%;
        height: 150px;
        margin-top: 10px;
        padding: 10px;
        background: rgba(173, 216, 230, 0.3);
        outline: none;
        border: none;
        color: white;
    }
}

.editinput{
    background: none;
    color: lightcoral;
    font-size: 1.5em;
    border: none;
    outline: none;
}