@import './modules/reset.scss';
@import "react-slideshow-image/dist/styles.css";
@import './modules/font.scss';
@import './modules/variables.scss';
@import './modules/global.scss';
@import './modules/scrollbar.scss';
@import './modules/buttons.scss';
@import './modules/mediawrapper.scss';
@import './modules/toggleswitch.scss';
@import './components/carsection.scss';
@import './components/video.scss';
@import './components/navbar.scss';
@import './components/topsection.scss';
@import './components/pricing.scss';
@import './components/carslideshow.scss';
@import './components/employees.scss';
@import './components/teamsection.scss';
@import './components/faqsection.scss';
@import './components/contactus.scss';
@import './components/footer.scss';
@import './components/loader.scss';
@import './pages/homepage.scss';
@import './pages/carpage.scss';
@import './pages/addcarpage.scss';
@import './pages/teampage.scss';
@import './pages/addteampage.scss';
@import './pages/reviewpage.scss';
@import './pages/page404.scss';
